@import "tailwindcss";

@theme {
  --font-default: "Arial", sans-serif;
  --base-color: '#18B1FF'
}


body {
  font-family: var(--font-default);
}
.bg-base {
  background-color: var(--base-color);
}
@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}
.animate-blink {
  animation: blink 1s step-end infinite;
}